@model TechnologyStore.Models.ViewModel.NewProductsViewModel

@{
    ViewBag.Title = "Thêm sản phẩm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="card">
        <div class="card-header"><strong class="card-title">@ViewBag.Title</strong></div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "Products", method: FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "form-control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Brand_Id, new { @class = "form-control-label" })
                    @Html.DropDownListFor(model => model.Brand_Id, (SelectList)ViewBag.ListBrand, "Chọn thương hiệu", new { @class = "form-control chosen-select" })
                    @Html.ValidationMessageFor(model => model.Brand_Id, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ListIdCategories, new { @class = "form-control-label" })
                    @Html.DropDownListFor(model => model.ListIdCategories, (SelectList)ViewBag.ListCategories, "Chọn danh mục sản phẩm", new { @class = "form-control chosen-select", @multiple = true })
                    @Html.ValidationMessageFor(model => model.ListIdCategories, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, new { @class = "form-control-label" })
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Quantity, new { @class = "form-control-label" })
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageLink, new { @class = "form-control-label" })
                    @Html.TextBoxFor(model => model.ImageLink, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "form-control-label" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShortDescription, new { @class = "form-control-label" })
                    @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control", @rows = 4 })
                    @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen();
        });
    </script>
}

